@import "../../../../../Assets/Theme/_var.scss";

.songCard{
    width: 270px;
    background-color: $cardbg;
    border-radius: 10px;
    .songCardHead{
        figure{
            width: 50px;   
        }
    }
    .hashtag{
        color:$yellow
    }
    figure{
        width: 100%;
        img{
            width: 100%;
            border-radius: 10px;
        }
    }
    button{
        width: 220px;
        margin: 5px;
    }
     .hr{
        border-bottom: 1px solid $hrcolor;
        border-collapse: collapse;
    }
    .makeOffer{
        background-color: transparent;
        color: $white;
        border: 1px solid $white;
        transition: all ease-in-out 0.3s;
        &:hover{
            background-color: $yellow;
            color: $black;

        }
    }
}