@import "../../../../../Assets/Theme/_var.scss";

.songCard{
    width: 270px;
    background-color: $cardbg;
    border-radius: 10px;
    .songCardHead{
        figure{
            width: 50px;   
        }
    }
    .hashtag{
        color:$yellow
    }
    figure{
        width: 100%;
        img{
            width: 100%;
            border-radius: 10px;
        }
    }
    button{
        width: 220px;
        margin: 5px;
        padding: 10px;
    }
     .hr{
        border-bottom: 1px solid $hrcolor;
        border-collapse: collapse;
    }    
}