@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$basefont: "Roboto", sans-serif;
$baseclr: #181A20;
$white: #fff;
$lighttext:rgba(255, 255, 255, 0.6);
$black: #000;
$yellow: #FF8200;
$cardbg: #2A2B2F;
$hrcolor:#605F5F;


