@import "../../../Assets/Theme/_var.scss";

.commonModal{
 .modal-content{
    background-color: $baseclr;
    color: $white;
    border: 1px solid $white;
    button{
        width: 100%;
    }
}
.btn-close{
    color: $white;
}
.modal-header .close {
    color: white; // Change the color to white
  }

}