@import "./Assets/Theme/_var.scss";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $basefont;
  background-color: $baseclr;
}

a,
a:hover {
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  // color: $yellow;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

* {
  color: $white;
}

img {
  max-width: 100%;
}

h4 {
  margin-bottom: 0;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 14px;
  color: $lighttext;
  font-weight: 400;
}